.cards {
    display:flex; 
    flex-direction: column;
     /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* align-content: space-around; */
   
    
    /* margin-left: 20%; */
    /* margin-right: 20%; */
}
.cards div {
    /* Repetitive code */
    /* background-size:contain; */
    /* background-repeat: no-repeat; */
    /* background-position: auto; */
    width: 30%;
    /* height: 300px; */
    margin-top: 50px;
    justify-content: center;

}


.cards img, .cards video{
    height: 60;
    width: 80rem;

}





/* .card1 {
    
}

.card2 {
    background-image: url() ;
}

.card3 {
    background-image: url("");
}

.card4 {
    background-image: url("");
}

.card5 {
    background-image: url("");
} */

.prediction-model {         
    margin-top: 200px ;
    margin-right: 50px ;
    margin-left: 50px
    
}

.prediction-model h3 {
    margin-left: 60px

}
.prediction-model p {
    margin-left: 60px
}
.prediction-model h4 {
    margin-left: 60px



 }

 .cards h4 {

 }

 .cards p {

 }